
<!-- Latest compiled and minified JavaScript -->
{% load staticfiles %}
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>#}
<script scr="{% static "createonlineexam/js/jquery.lazyload.min.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
<script src="{% static "createonlineexam/js/jquery.form.js" %}"></script>
<script src="{% static "createonlineexam/js/bootstrap.min.js" %}"></script>
<!--validate script to validate form-->
<script src="{% static "createonlineexam/js/Validation.js" %}"></script>
<script src="{% static "createonlineexam/js/script.js" %}"></script>
<script src="{% static "createonlineexam/js/notify.js" %}"></script>
<script src="{% static "createonlineexam/js/paging.js" %}"></script>
<script src="{% static "script.js" %}"></script>


<script type="text/javascript">
    function goBack() {
        window.history.back();
    }

</script>

<a href="#create-exam" class="scrollToTop"><img src="{% static "createonlineexam/images/top.png" %}" height="40" width="40"></a>
<footer class="text-center">

    <div id="footer" class="footer">

        <p>All Rights Reserved</p>
    </div>
</footer>