<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Create Online Exam for your students!!">
    <meta name="keywords" content="Create Online Exam, Objective exam, get result generated automatically">
    <meta name="author" content="Rajesh Upadhayaya">
    {% load staticfiles %}
{#    {% collectstatic %}#}
    <link rel="icon" type="image/ico" href="{% static "/createonlineexam/images/favicon.ico" %}">
    <title>Create Online Exam</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "/createonlineexam/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "/createonlineexam/css/bootstrap.min.css" %}">
    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static "/createonlineexam/css/bootstrap-theme.min.css" %}">
    <!--Modified personal css-->
    <link rel="stylesheet" type="text/css" href="{% static "/createonlineexam/css/style.css" %}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text:600' rel='stylesheet' type='text/css'>
    <script src="{% static "createonlineexam/js/jquery-2.1.4.min.js" %}"></script>
</head>