

    {% for i in loop_times %}
        <div class="quest-block">
            <div class="row">
                <div class="col-md-1">
                    <label class="text-left" for="ques{{ i }}">Ques {{ i }}.</label>
                </div>

                <div class="col-md-11">
                    <textarea name="ques{{ i }}" class="form-control" maxlength="500" required></textarea><br>
                </div>
            </div>

            <div class="row">
                <div class="col-md-1">
                    <label class="text-left" for="ans{{ i }}">Ans. </label>
                </div>
                <div class="col-md-1">
                    <label class="text-left" for="ans{{ i }}a">A.</label>
                </div>

                <div class="col-md-4 text-left">
                    <input type="textarea" class="form-control" name="ans{{ i }}a" class="textbox1" maxlength="100" required>
                </div>
                <div class="col-md-1 ">
                    <label class=" text-right" for="ans{{ i }}b">B.</label>
                </div>
                <div class="col-md-5 text-left ">
                    <input type="textarea" class="form-control" name="ans{{ i }}b" class="textbox1" maxlength="100" required><br>
                </div>
            </div>

            <div class="row">
                <div class="col-md-1">
                    <label class=" text-left"></label>
                </div>
                <div class="col-md-1">
                    <label class="text-left" for="ans{{ i }}c">C.</label>
                </div>
                <div class="col-md-4 text-left">
                    <input type="textarea" class="form-control" name="ans{{ i }}c" maxlength="100" required>
                </div>
                <div class="col-md-1">
                    <label class="text-right" for="ans{{ i }}d">D.</label>
                </div>
                <div class="col-md-5 text-left">
                    <input type="textarea" class="form-control" name="ans{{ i }}d" maxlength="100" required><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 ">
                    <label class="text-left" for="ans{{ i }}correct"> Correct Answer:</label>
                </div>
                <div class="col-md-10 text-left ">
                    <input type="textarea" class="form-control" name="ans{{ i }}correct" maxlength="100" required><br><br>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="text-right">
        <input type='submit' class="btn btn-success btn-lg text-right" value= 'Create Exam' name='objsubmit'>
    </div>
